[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MF.beta4"]
	path = MF.beta4
	url = https://github.com/annechao/mf.beta4
[submodule "iNEXT"]
	path = iNEXT
	url = https://github.com/annechao/inext
[submodule "iNEXT.3D"]
	path = iNEXT.3D
	url = https://github.com/annechao/inext.3d
[submodule "iNEXT.beta3D"]
	path = iNEXT.beta3D
	url = https://github.com/annechao/inext.beta3d
